.DS_Store
.vs
*.user
*/bin
*/obj
*/bin/*
*/obj/*
*.dll
*g.cs
*.dll
*g.cs
*.jar
*.java
*bin/*
*obj*
/UISwipeBackIssue/UISwipeBackIssue.iOS/bin/iPhoneSimulator/Debug
/UISwipeBackIssue/UISwipeBackIssue.Android/obj
/UISwipeBackIssue/UISwipeBackIssue.Android/bin/Debug
/UISwipeBackIssue/UISwipeBackIssue/bin/*
/UISwipeBackIssue/UISwipeBackIssue/obj
/SkiaImageSourceHandlerIssue/SkiaImageSourceHandlerIssue/bin/Debug/netstandard2.0
/SkiaImageSourceHandlerIssue/SkiaImageSourceHandlerIssue.Android/bin/Debug
